*{margin: 0;padding: 0;box-sizing: border-box;}
ul,ol{
    list-style: none;
}
img {
    max-width: 100%;
}
.header {
    display: flex;
    /* 让图片背景的灰色不扩展 */
    /* align-items: center; */
    /* 靠右对其 */
    /* justify-content: space-between; */
    background: gray;
    padding: 4px 0;
}
.logo {
    display: flex;
    /* 图片在中间 */
    align-items: center;
}
.logo > img {
    height: 26px;
    vertical-align: middle;
}
ul{
    display: flex;
    margin-left: auto;
}
ul > li {
    padding: 4px;
}
.content {
    display: flex;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.content > aside {
    background: #000;
    width: 200px
}
.content > main {
    background: #666;
    height: 400px;
    flex-grow: 1;
}
.content > .ad {
    background: #999;
    width: 100px;
}
.imagesList {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.imagesList > .x {
    display: flex;
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;
}
.image {
    width: 191px;
    height: 191px;
    background: gray;
    border: 1px solid red;
    /* 这里也可以 左边 6 右边 6 */
    margin-left: 6px;
    margin-right: 6px;
    /*margin-right: 12px;*/
    margin-bottom: 10px;
}